@font-face {
	font-family:'ProximaNova';
	src: url('proximanova-black-webfont.eot');
	src: url('proximanova-black-webfont-1.eot') format('embedded-opentype'),
			 url('proximanova-black-webfont.woff2') format('woff2'),
			 url('proximanova-black-webfont.woff') format('woff'),
			 url('proximanova-black-webfont.ttf') format('truetype'),
			 url('proximanova-black-webfont.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family:'ProximaNova';
	src: url('proximanova-xbold-webfont.eot');
	src: url('proximanova-xbold-webfont-1.eot') format('embedded-opentype'),
			 url('proximanova-xbold-webfont.woff2') format('woff2'),
			 url('proximanova-xbold-webfont.woff') format('woff'),
			 url('proximanova-xbold-webfont.ttf') format('truetype'),
			 url('proximanova-xbold-webfont.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family:'ProximaNova';
	src: url('proximanova-bold-webfont.eot');
	src: url('proximanova-bold-webfont-1.eot') format('embedded-opentype'),
			 url('proximanova-bold-webfont.woff2') format('woff2'),
			 url('proximanova-bold-webfont.woff') format('woff'),
			 url('proximanova-bold-webfont.ttf') format('truetype'),
			 url('proximanova-bold-webfont.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family:'ProximaNova';
	src: url('proximanova-boldit-webfont.eot');
	src: url('proximanova-boldit-webfont-1.eot') format('embedded-opentype'),
			 url('proximanova-boldit-webfont.woff2') format('woff2'),
			 url('proximanova-boldit-webfont.woff') format('woff'),
			 url('proximanova-boldit-webfont.ttf') format('truetype'),
			 url('proximanova-boldit-webfont.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family:'ProximaNova';
	src: url('proximanovasemibold.eot');
	src: url('proximanovasemibold.eot') format('embedded-opentype'),
			 url('proximanovasemibold.woff2') format('woff2'),
			 url('proximanovasemibold.woff') format('woff'),
			 url('proximanovasemibold.ttf') format('truetype'),
			 url('proximanovasemibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family:'ProximaNova';
	src: url('proximanovasemibolditalic.eot');
	src: url('proximanovasemibolditalic.eot') format('embedded-opentype'),
			 url('proximanovasemibolditalic.woff2') format('woff2'),
			 url('proximanovasemibolditalic.woff') format('woff'),
			 url('proximanovasemibolditalic.ttf') format('truetype'),
			 url('proximanovasemibolditalic.svg') format('svg');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family:'ProximaNova';
	src: url('proximanova-reg-webfont.eot');
	src: url('proximanova-reg-webfont-1.eot') format('embedded-opentype'),
			 url('proximanova-reg-webfont.woff2') format('woff2'),
			 url('proximanova-reg-webfont.woff') format('woff'),
			 url('proximanova-reg-webfont.ttf') format('truetype'),
			 url('proximanova-reg-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family:'ProximaNova';
	src: url('proximanova-regit-webfont.eot');
	src: url('proximanova-regit-webfont-1.eot') format('embedded-opentype'),
			 url('proximanova-regit-webfont.woff2') format('woff2'),
			 url('proximanova-regit-webfont.woff') format('woff'),
			 url('proximanova-regit-webfont.ttf') format('truetype'),
			 url('proximanova-regit-webfont.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family:'ProximaNova';
	src: url('proximanova-light-webfont.eot');
	src: url('proximanova-light-webfont-1.eot') format('embedded-opentype'),
			 url('proximanova-light-webfont.woff2') format('woff2'),
			 url('proximanova-light-webfont.woff') format('woff'),
			 url('proximanova-light-webfont.ttf') format('truetype'),
			 url('proximanova-light-webfont.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family:'ProximaNova';
	src: url('proximanova-lightit-webfont.eot');
	src: url('proximanova-lightit-webfont-1.eot') format('embedded-opentype'),
			 url('proximanova-lightit-webfont.woff2') format('woff2'),
			 url('proximanova-lightit-webfont.woff') format('woff'),
			 url('proximanova-lightit-webfont.ttf') format('truetype'),
			 url('proximanova-lightit-webfont.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family:'ProximaNova';
	src: url('proximanovathin.eot');
	src: url('proximanovathin.eot') format('embedded-opentype'),
			 url('proximanovathin.woff2') format('woff2'),
			 url('proximanovathin.woff') format('woff'),
			 url('proximanovathin.ttf') format('truetype'),
			 url('proximanovathin.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}






